<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>
    <!-- Title, School, Subject(s), Description, Salary, email -->
    <form method="POST">
      <input name="category" type="hidden" value="education" readonly required/>
      <div class="field">
        <label>Title:</label>
        <input name="title" type="text" required />
      </div>
      <div class="field">
        <label>School:</label>
        <input name="school" type="text" required />
      </div>
      <div class="field">
        <label>Subject(s):</label>
        <input name="subjects" type="text" required />
      </div>
      <div class="field">
        <label>Description:</label>
        <textarea name="description" required></textarea>
      </div>
      <div class="field">
        <label>Salary:</label>
        <input name="salary" type="number" required />
      </div>
      <div class="field">
        <label>Phone Number:</label>
        <input name="phoneNumber" type="tel" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>

      <input type="submit" />
    </form>
  </body>
</html>
