<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>

    <form method="POST">
      <div class="field">
        <label>Category:</label>
        <select name="category">
          <option value="education">Education</option>
        </select>
      </div>
      <div class="field">
        <label> Title :</label>
        <input name="title" class="make" type="text" required />
      </div>
      <div class="field">
        <label> Experience :</label>
        <input name="experience" class="manufacturer" type="text" required />
      </div>
      <div class="field">
        <label> Salary :</label>
        <input name="salary" type="number" class="salary" required />
      </div>
      <div class="field">
        <label> Location :</label>
        <textarea name="location" class="location" type="text" required></textarea>
      </div>
      <div class="field">
        <label> Description :</label>
        <textarea name="description" class="description" required></textarea>
      </div>
      <div class="field">
        <label> Phone Number :</label>
        <input type="tel" id="phone" name="phone" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>

      <input type="submit" />
    </form>
  </body>
</html>
