<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>
    <!-- Title, Remote y/n, Salary, Company, phone -->
    <form method="POST">
      <input name="category" type="hidden" value="finance" readonly required/>
      <div class="field">
        <label>Title:</label>
        <input name="title" type="text" required />
      </div>
      <div class="field">
        <label>Remote Position:</label>
        <select name="remote">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <div class="field">
        <label>Salary:</label>
        <input name="salary" type="number" required />
      </div>
      <div class="field">
        <label>Company:</label>
        <textarea name="company" type="text" required></textarea>
      </div>
      <div class="field">
        <label>Description:</label>
        <textarea name="description" class="description" required></textarea>
      </div>
      <div class="field">
        <label>Phone Number:</label>
        <input type="tel" name="phoneNumber" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
