<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>
    <!-- Position, Description, address, Salary, benefits, phone -->
    <form method="POST">
      <input name="category" type="hidden" value="Food" readonly required/>
      <div class="field">
        <label>Position:</label>
        <input name="title" type="text" required />
      </div>
      <div class="field">
        <label>Description:</label>
        <textarea name="description" class="description" required></textarea>
      </div>
      <div class="field">
        <label>Address:</label>
        <input name="address" type="text" required />
      </div>
      <div class="field">
        <label>Salary:</label>
        <input name="salary" type="number" required />
      </div>
      <div class="field">
        <label>Benefits:</label>
        <input name="benefits" type="text" required />
      </div>
      <div class="field">
        <label>Phone Number:</label>
        <input type="tel" name="phone" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
