<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>
    <!-- Address, Monthly Rent, Beds, Bath, Furnished y/n, phone -->
    <form method="POST">
      <div class="field">
        <label>Category:</label>
        <select name="category">
          <option value="apartment">Apartments</option>
        </select>
      </div>
      <div class="field">
        <label>Address:</label>
        <input name="address" type="text"  required />
      </div>
      <div class="field">
        <label>Monthly Rent ($):</label>
        <input name="rent" type="numeric" required>
      </div>
      <div class="field">
        <label># of Beds:</label>
        <input name="beds" type="numeric" required>
      </div>
      <div class="field">
        <label># of Baths:</label>
        <input name="baths" type="numeric" required>
      </div>
      <div class="field">
        <label> Description :</label>
        <textarea name="description"  class="price" required></textarea>
      </div>
      <div class="field">
        <label>Furnished:</label>
        <select name="furnished">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <div class="field">
        <label>Phone Number:</label>
        <input name="phone" type="tel" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
