<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>
    <!-- Address, Monthly Rent, Parking, sqft, phone -->
    <form method="POST">
      <div class="field">
        <label>Category:</label>
        <select name="category">
          <option value="officecommercial">Office/Commercial</option>
        </select>
      </div>
      <div class="field">
        <label>Address:</label>
        <input name="address" type="text"  required />
      </div>
      <div class="field">
        <label>Rent Per Month ($):</label>
        <input name="rent" type="numeric" required>
      </div>
      <div class="field">
        <label>Length of Lease (# of Months):</label>
        <input name="lease" type="numeric" required>
      </div>
      <div class="field">
        <label>Parking:</label>
        <select name="category">
          <option value="On street">On street</option>
          <option value="Parking lot">Parking lot</option>
        </select>
      </div>
      <div class="field">
        <label>Square Footage:</label>
        <input name="sqft" type="numeric" required>
      </div>
      <div class="field">
        <label>Phone Number:</label>
        <input name="phone" type="tel" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
