<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>
    <!-- Rent, Startdate, end date, roommates y/n, parking y/n, email -->
    <form method="POST">
      <div class="field">
        <label>Category:</label>
        <select name="category">
          <option value="sublets">Sublets</option>
        </select>
      </div>
      <div class="field">
        <label>Rent Per Month ($):</label>
        <input name="rent" type="numeric" required>
      </div>
      <div class="field">
        <label>Start Date</label>
        <input name="startDate" type="text" required />
      </div>
      <div class="field">
        <label>End Date</label>
        <input name="endDate" type="text" required />
      </div>
      <div class="field">
        <label>Roommates:</label>
        <select name="roommates">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <div class="field">
        <label>Housing Type:</label>
        <select name="housingType">
          <option value="House">House</option>
          <option value="High-Rise">High-Rise</option>
          <option value="Condo">Condo</option>
        </select>
      </div>
      <div class="field">
        <label>Phone Number:</label>
        <input name="phone" type="tel" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
