<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>
    <!-- Rent, Startdate, end date, roommates y/n, parking y/n, email -->
    <form method="POST">
      <div class="field">
        <label>Category:</label>
        <select name="category">
          <option value="sublets">Sublets</option>
        </select>
      </div>
      <div class="field">
        <label> Location :</label>
        <input name="location" class="make" type="text"  required />
      </div>
      <div class="field">
        <label> Square Footage :</label>
        <input name="size" class="manufacturer" type="numeric" required />
      </div>
      <div class="field">
        <label> Rent Per Month:</label>
        <input name="rent" class="description" type="numeric" required>
      </div>
      <div class="field">
        <label> Description :</label>
        <textarea name="description"  class="price" required></textarea>
      </div>
      <div class="field">
        <label> Phone Number :</label>
        <input type="tel" id="phone" name="phone" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
