<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>
    <!-- address, description, nightly fee, beds, pets?, phone -->
    <form method="POST">
      <input name="category" type="hidden" value="vacation" readonly required/>
      <div class="field">
        <label>Address:</label>
        <input name="address" type="text" required />
      </div>
      <div class="field">
        <label>Description:</label>
        <textarea name="description" required></textarea>
      </div>
      <div class="field">
        <label>Nightly Fee ($):</label>
        <input name="fee" type="numeric" required>
      </div>
      <div class="field">
        <label># of Beds:</label>
        <input name="beds" type="numeric" required>
      </div>
      <div class="field">
        <label>Pet Friendly:</label>
        <select name="pets">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <div class="field">
        <label>Phone Number:</label>
        <input name="phoneNumber" type="tel" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
