<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
    </style>
  </head>
  <body>
    <div class="title">Add a new Item</div>
    <!-- city, # of beds, # of baths, budget range, yard? email -->
    <input name="category" type="hidden" value="wanted" readonly required/>
      <div class="field">
        <label>City:</label>
        <input name="city" type="text" required />
      </div>
      <div class="field">
        <label># of Beds:</label>
        <input name="beds" type="numeric" required>
      </div>
      <div class="field">
        <label># of Baths:</label>
        <input name="beds" type="numeric" required>
      </div>
      <div class="field">
        <label>Budget Range:</label>
        <input name="city" type="text" required />
      </div>
      <div class="field">
        <label>Backyard:</label>
        <select name="backyard">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <div class="field">
        <label>Email:</label>
        <input name="email" type="text" placeholder="example@domain.com" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
