<html>
  <head>
    <title>Add Class</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>
    <!-- Subject, Description, Location, Teacher qualifications, Hourly Fee, email -->
    <form method="POST">
      <input name="category" type="hidden" value="classes" readonly required/>
      <div class="field">
        <label>Subject:</label>
        <input name="subject" type="text" required />
      </div>
      <div class="field">
        <label>Description:</label>
        <textarea name="description" required></textarea>
      </div>
      <div class="field">
        <label>Teacher Qualifications:</label>
        <input name="teacherQualifications" type="text" required />
      </div>
      <div class="field">
        <label>Location:</label>
        <input name="location" type="text" required />
      </div>
      <div class="field">
        <label>Hourly Fee:</label>
        <input name="hourlyFee" type="text" required />
      </div>
      <div class="field">
        <label>Email:</label>
        <input name="email" type="text" placeholder="example@domain.com" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
