<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>
    <!-- Event name, Description, Start Date, Number of Days Start Time, End time, Location, Phone -->
    <form method="POST">
      <input name="category" type="hidden" value="events" readonly required/>
      <div class="field">
        <label>Event Name:</label>
        <input name="eventName" type="text" required />
      </div>
      <div class="field">
        <label>Description:</label>
        <textarea name="description" required></textarea>
      </div>
      <div class="field">
        <label>Start Date:</label>
        <input name="startDate" type="text" required />
      </div>
      <div class="field">
        <label>Event Duration (how many days?):</label>
        <input name="duration" type="number" required />
      </div>
      <div class="field">
        <label>Start Time:</label>
        <input name="startTime" type="text" required />
      </div>
      <div class="field">
        <label>End Time:</label>
        <input name="endTime" type="text" required />
      </div>
      <div class="field">
        <label>Phone Number:</label>
        <input name="phone" type="tel" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
