<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>

    <!-- Item, Lost or Found, Item Description, Location found, Day found, Phone -->
    <form method="POST">
      <input name="category" type="hidden" value="Lost and Found" readonly required/>
      <div class="field">
        <label>Item:</label>
        <input type="text" name="item" required />
      </div>
      <div class="field">
        <label>Lost or Found</label>
        <select name="lostOrFound">
          <option value="lost">Lost</option>
          <option value="found">Found</option>
        </select>
      </div>
      <div class="field">
        <label>Item Description:</label>
        <textarea name="description" required></textarea>
      </div>
      <div class="field">
        <label>Location Found:</label>
        <input name="locationFound" type="text" required />
      </div>
      <div class="field">
        <label>Day Found</label>
        <input name="dayFound" type="text" required />
      </div>
      <div class="field">
        <label>Phone Number:</label>
        <input name="phoneNumber" type="tel" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
