<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>

    <!-- Seeking/Offering, Destination, Car Description, Available seats, Phone Number -->
    <form method="POST">
      <input name="category" type="hidden" value="Rideshare" readonly required/>
      <div class="field">
        <label>Seeking or Offering?</label>
        <select name="seekOrOffer">
          <option value="seeking">Seeking</option>
          <option value="offering">Offering</option>
        </select>
      </div>
      <div class="field">
        <label>Able to split gas?</label>
        <select name="gas">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <div class="field">
        <label>Willing to drive?</label>
        <select name="drive">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <div class="field">
        <label># of Seats:</label>
        <input name="seats" type="number" required />
      </div>
      <div class="field">
        <label>Description:</label>
        <input name="description" type="text" required />
      </div>
      <div class="field">
        <label>Destination:</label>
        <input name="destination" type="text" required />
      </div>
      <div class="field">
        <label>Day:</label>
        <input name="day" type="text" required />
      </div>
      <div class="field">
        <label>Phone Number:</label>
        <input name="phoneNumber" type="tel" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
