<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>

    <!-- Volunteer Title, Organization, Date, Start Time, End Time, Recurring, Phone -->
    <form method="POST">
      <input name="category" type="hidden" value="Volunteering" readonly required/>
      <div class="field">
        <label>Volunteer Title:</label>
        <input name="title" type="text" required />
      </div>
      <div class="field">
        <label>Organization:</label>
        <input name="organization" type="text" required />
      </div>
      <div class="field">
        <label>Date</label>
        <input name="date" type="text" required />
      </div>
      <div class="field">
        <label>Start Time</label>
        <input name="startTime" type="text" required />
      </div>
      <div class="field">
        <label>End Time</label>
        <input name="endTime" type="text" required />
      </div>
      <div class="field">
        <label>Recurring?</label>
        <select name="recurring">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="field">
        <label>Phone Number:</label>
        <input name="phone" type="tel" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
