<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>

    <form method="POST">
      <input name="category" type="hidden" value="Lessons" readonly required/>
      <div class="field">
        <label>Availability:</label>
        <input name="availability" type="text" required />
      </div>
      <div class="field">
        <label>Subjects:</label>
        <input name="subjects" type="text" required />
      </div>
      <div class="field">
        <label>Location:</label>
        <input name="location" type="text" required />
      </div>
      <div class="field">
        <label>Service Description:</label>
        <textarea name="description" required></textarea>
      </div>
      <div class="field">
        <label>Price Per Hour:</label>
        <input name="price" type="number" required />
      </div>
      <div class="field">
        <label>Phone Number:</label>
        <input type="tel" id="phone" name="phone" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
