<html>
  <head>
    <title>Add Item to Arts</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>

    <!-- Title, Artist, Year, Medium, Price, email -->
    <form method="POST">
      <div class="field">
        <label>Category:</label>
        <select name="category">
         <option value="art">Art</option> 
        </select>
      </div>
      <div class="field">
        <label>Title:</label>
        <input name="title" class="make" type="text" required />
      </div>
      <div class="field">
        <label>Artist:</label>
        <input name="artist" class="make" type="text" required />
      </div>
      <div class="field">
        <label>Year:</label>
        <input name="year" class="year" type="number" required />
      </div>
      <div class="field">
        <label>Price:</label>
        <input name="price" type="number" class="price" required />
      </div>
      <div class="field">
        <label>Email:</label>
        <input name="email" type="text" placeholder="example@domain.com" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
