<html>
  <head>
    <title>Add Item to Boats</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>

    <!-- Manufacturer, Type, Year, Condition, Description, Price, Email -->
    <form method="POST">
      <input name="category" type="hidden" value="boats" readonly required/>
      <div class="field">
        <label>Manufacturer:</label>
        <input name="manufacturer" type="text" required />
      </div>
      <div class="field">
        <label>Type of Boat:</label>
        <select name="type">
          <option value="sailboat">Sailboat</option>
          <option value="motorboat">Motorboat</option>
          <option value="pontoon">Pontoon</option>
          <option value="kayak">Kayak</option>
        </select>
      </div>
      <div class="field">
        <label>Condition:</label>
        <select name="condition">
          <option value=”used”>Used</option>
          <option value=”new”>New </option>
          </select>
      </div>
      <div class="field">
        <label> Description :</label>
        <textarea name="description" class="description" required></textarea>
      </div>
      <div class="field">
        <label>Price:</label>
        <input name="price" type="number" class="price" required />
      </div>
      <div class="field">
        <label>Email:</label>
        <input name="email" type="text" placeholder="example@domain.com" required>
      </div>


      <input type="submit" />
    </form>
  </body>
</html>
