<html>
  <head>
    <title>Add Item to Cars</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>

    <form method="POST">
      <div class="field">
        <label>Category:</label>
        <select name="category">
          <option value="car">Cars</option>
        </select>
      </div>
      <div class="field">
        <label> Make :</label>
        <input name="make" class="make" type="text" required />
      </div>
      <div class="field">
        <label> Manufacturer :</label>
        <input name="manu" class="manufacturer" type="text" required />
      </div>
      <div class="field">
        <label> Description :</label>
        <textarea name="descrip" class="description" required></textarea>
      </div>
      <div class="field">
        <label> Price :</label>
        <input name="price" type="number" class="price" required />
      </div>
      <div class="field">
        <label> Color :</label>
        <input name="color" class="color" type="text" required />
      </div>

      <div class="field">
        <label> Miles :</label>
        <input name = "miles" class="miles" type="number" required />
      </div>
      <div class="field">
        <label> Year :</label>
        <input name="year" class="year" type="number" required />
      </div>
      <div class="field">
        <label> Condition :</label>
        <select class="condition" name="condition">
          <option value=”used”>Used</option>
          <option value=”new”>New </option>
          </select>
      </div>
      <div class="field">
        <label> Phone Number :</label>
        <input type="tel" id="phone" name="phone" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <div class="field">
        <label> City :</label>
        <input type="text" class="city" name="city" required />
      </div>

      <input type="submit" />
    </form>
  </body>
</html>
