<html>
  <head>
    <title>Add Item to Furnitures</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>

    <form method="POST">
      <input name="category" type="hidden" value="furniture" readonly required/>
      <!-- Type, Condition, Description, Price, Pickup/Dropoff, email -->
      <div class="field">
        <label>Type:</label>
        <input name="type" type="text" required />
      </div>
      <div class="field">
        <label>Condition:</label>
        <select name="condition">
          <option value=”used”>Used</option>
          <option value=”new”>New </option>
          </select>
      </div>
      <div class="field">
        <label>Description:</label>
        <textarea name="description" required></textarea>
      </div>
      <div class="field">
        <label>Price:</label>
        <input name="price" type="number" required />
      </div>
      <div class="field">
        <label>Pickup/Dropoff:</label>
        <select name="pickupDropoff">
          <option value="pickup">Pickup</option>
          <option value="dropoff">Dropoff</option>
        </select>
      </div>
      <div class="field">
        <label>Email:</label>
        <input name="email" type="text" placeholder="example@domain.com" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
