<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>

    <!-- Type, Price, Condition, Size, email -->
    <form method="POST">
      <div class="field">
        <label>Category:</label>
        <select name="category">
          <option value="tv">TVs</option>
        </select>
      </div>
      <div class="field">
        <label> Manufacturer :</label>
        <input name="manufacturer" class="manufacturer" type="text" required />
      </div>
      <div class="field">
        <label> Size :</label>
        <input name="size" class="size" type="text" required />
      </div>
      <div class="field">
        <label> Description :</label>
        <textarea name="description" class="description" required></textarea>
      </div>
      <div class="field">
        <label> Price :</label>
        <input name="price" type="number" class="price" required />
      </div>

      <div class="field">
        <label> Year :</label>
        <input name="year" class="year" type="number" required />
      </div>
      <div class="field">
        <label> Condition :</label>
        <select class="condition" name="condition">
          <option value=”used”>Used</option>
          <option value=”new”>New </option>
          </select>
      </div>
      <div class="field">
        <label> Location:</label>
        <input type="text" class="location" name="location" required />
      </div>
      <div class="field">
        <label> Phone Number :</label>
        <input type="tel" id="phone" name="phone" placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>


      <input type="submit" />
    </form>
  </body>
</html>
