<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="title">Add a new Item</div>

    <!-- Type, Price, Condition, Size, email -->
    <form method="POST">
      <input name="category" type="hidden" value="tv" readonly required/>
      <div class="field">
        <label>Type:</label>
        <select name="type">
          <option value="CRT">CRT</option>
          <option value="Flatscreen">Flatscreen</option>
          <option value="Smart Tv">Smart TV</option>
        </select>
      </div>
      <div class="field">
        <label>Price:</label>
        <input name="price" type="number" required />
      </div>
      <div class="field">
        <label>Condition:</label>
        <select name="condition">
          <option value=”used”>Used</option>
          <option value=”new”>New </option>
          </select>
      </div>
      <div class="field">
        <label>Size:</label>
        <input name="size" type="text" required />
      </div>
      <div class="field">
        <label>Email:</label>
        <input name="email" type="text" placeholder="example@domain.com" required>
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
