<!DOCTYPE html>
<head>
  <title>COMS-422  Project Phase 3</title>
  <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/login_style.css">
</head>
<body>
  <!-- Accessing script from ../static/js/app.js -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <div class="login" id="login">
    <h1>Login</h1>
    <form method="post">
      <input type="text" name="username" placeholder="Username" required="required" autocomplete="off"/>
      <input type="password" name="password" placeholder="Password" required="required"/>
      <div class="registerBtn">
        <a href="/register">... create a new account</a>
      </div>
      <div class="registerBtn">
        <a href="/guestLogin">... Login as Guest</a>
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
  </div>
</body>
</html>