<html>

<head>
  <title>For Community</title>
  <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
</head>

<body>
  <div class="title">Listings for {{title}}</div>
  {% if loggedIn == '1' %}
    <div class="addItem"><a href={{ url }}>Click Here to add Item </a></div>
  {% else %}
    <div class="addItem"><a href="/">Log in on the main page to post :)</a></div>
  {% endif %}
  <div class="list">
    {% for item in contents %}
    <div class="item">
      <div class="brief">
        {% if item.category != null %}
        <div class="attribute">
          <label> Category :</label>
         {{ item.category }}
        </div>
        {% endif %}

        {% if item.Time != null %}
         <div class="attribute">
          <label> Pick Up Time :</label>
          {{ item.Time }}
        </div>
         {% endif %}

        {% if item.location != null %}
         <div class="attribute">
          <label>Location :</label>
          {{ item.location }}
        </div>
         {% endif %}

         {% if item.locationFound != null %}
         <div class="attribute">
          <label>Location Found :</label>
          {{ item.locationFound }}
        </div>
         {% endif %}

         {% if item.dayFound != null %}
         <div class="attribute">
          <label>Day Found :</label>
          {{ item.dayFound }}
        </div>
         {% endif %}
        {% if item.description != null %}
         <div class="attribute">
            <label> Description :</label>
            {{ item.description }}
          </div>
           {% endif %}
        {% if item.Description != null %}
         <div class="attribute">
            <label> Description :</label>
            {{ item.Description }}
          </div>
           {% endif %}

           {% if item.lostOrFound != null %}
           <div class="attribute">
              <label> Lost Or Found :</label>
              {{ item.lostOrFound }}
            </div>
             {% endif %}

             {% if item.seekOrOffer != null %}
             <div class="attribute">
                <label>Seeking or Offering :</label>
                {{ item.seekOrOffer }}
              </div>
               {% endif %}
               {% if item.seats != null %}
               <div class="attribute">
                  <label># of Seats :</label>
                  {{ item.seats }}
                </div>
                 {% endif %}
               {% if item.destination != null %}
               <div class="attribute">
                  <label>Destination :</label>
                  {{ item.destination }}
                </div>
                 {% endif %}
               {% if item.day != null %}
               <div class="attribute">
                  <label>Day :</label>
                  {{ item.day }}
                </div>
                 {% endif %}
               {% if item.gas != null %}
               <div class="attribute">
                  <label>Can Split Gas:</label>
                  {{ item.gas }}
                </div>
                 {% endif %}
               {% if item.drive != null %}
               <div class="attribute">
                  <label>Willing to Drive :</label>
                  {{ item.drive }}
                </div>
                 {% endif %}
                 {% if item.type != null %}
                 <div class="attribute">
                    <label> Type of Service:</label>
                    {{ item.type }}
                  </div>
                   {% endif %}
                 {% if item.title != null %}
                 <div class="attribute">
                    <label> Volunteer Title:</label>
                    {{ item.title }}
                  </div>
                   {% endif %}
                 {% if item.organization != null %}
                 <div class="attribute">
                    <label> Organization:</label>
                    {{ item.organization }}
                  </div>
                   {% endif %}

                   {% if item.recurring != null %}
                   <div class="attribute">
                      <label> Recurring:</label>
                      {{ item.recurring }}
                    </div>
                     {% endif %}
                   
           {% if item.eventName != null %}
           <div class="attribute">
              <label> Event Name :</label>
              {{ item.eventName }}
            </div>
             {% endif %}

           {% if item.startDate != null %}
           <div class="attribute">
             <label> Start Date :</label>
             {{ item.startDate }}
            </div>
            {% endif %}
           {% if item.date != null %}
           <div class="attribute">
             <label> Date :</label>
             {{ item.date }}
           </div>
           {% endif %}
           {% if item.startTime != null %}
           <div class="attribute">
             <label> Start Time :</label>
             {{ item.startTime }}
           </div>
           {% endif %}
           {% if item.endTime != null %}
           <div class="attribute">
             <label> End Time :</label>
             {{ item.endTime }}
           </div>
           {% endif %}
           {% if item.endDate != null %}
           <div class="attribute">
             <label> End Date :</label>
             {{ item.endDate }}
           </div>
           {% endif %}
           {% if item.duration != null %}
           <div class="attribute">
             <label> Event Duration (in days):</label>
             {{ item.duration }}
           </div>
           {% endif %}
           {% if item.item != null %}
           <div class="attribute">
             <label> Item :</label>
             {{ item.item }}
           </div>
           {% endif %}
           {% if item.subject != null %}
           <div class="attribute">
            <label> Subject :</label>
            {{ item.subject }}
          </div>
           {% endif %}
           {% if item.qualifications != null %}
           <div class="attribute">
             <label> Qualifications :</label>
             {{ item.qualifications }}
           </div>
           {% endif %}
           {% if item.fee != null %}
           <div class="attribute">
             <label> Hourly Fee:</label>
             {{ item.fee }}
           </div>
           {% endif %}
          {% if item.phoneNumber != null %}
           <div class="attribute">
            <label> Phone Number :</label>
            {{ item.phoneNumber }}
          </div>
           {% endif %}
           {% if item.email != null %}
           <div class="attribute">
            <label> Email :</label>
            {{ item.email }}
          </div>
           {% endif %}
           
      </div>
      </div>
  {% endfor %}
</body>

</html>