<html>

<head>
  <title>For Services</title>
  <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
</head>

<body>
  <div class="title">Listings for {{title}}</div>
  {% if loggedIn == '1' %}
  <div class="addItem"><a href={{url}}>Click Here to add Item </a></div>
  {% else %}
  <div class="addItem"><a href="/">Log in on the main page to post :)</a></div>
  {% endif %}
  <div class="list">
    {% for item in contents %}
    <div class="item">
      <div class="brief">
        {% if item.category != null %}
        <div class="attribute">
          <label> Category :</label>
         {{ item.category }}
        </div>
           {% endif %}
         {% if item.availability != null %}
         <div class="attribute">
          <label> Availability :</label>
          {{ item.availability }}
        </div>
           {% endif %}
         {% if item.location != null %}
         <div class="attribute">
          <label> Location :</label>
          {{ item.location }}
        </div>
           {% endif %}
         {% if item.description != null %}
         <div class="attribute">
            <label> Description :</label>
            {{ item.description }}
          </div>
             {% endif %}
          {% if item.type != null %}
          <div class="attribute">
            <label> Type of Service :</label>
            {{ item.type }}
          </div>
          {% endif %}
          {% if item.autoType != null %}
          <div class="attribute">
            <label>Automotive Repair:</label>
            {{ item.autoType }}
          </div>
          {% endif %}
          {% if item.petType != null %}
          <div class="attribute">
            <label> Type of Pet :</label>
            {{ item.petTyle }}
          </div>
          {% endif %}
          {% if item.subjects != null %}
          <div class="attribute">
            <label> Subjects :</label>
            {{ item.subjects }}
          </div>
          {% endif %}
         {% if item.price != null %}
         <div class="attribute">
            <label>Price per Hour ($):</label>
            {{ item.price }}
          </div>
             {% endif %}
         {% if item.phoneNumber != null %}
         <div class="attribute">
            <label> Phone Number :</label>
            {{ item.phoneNumber }}
          </div>
          {% endif %}
      </div>
      </div>
  {% endfor %}
</body>

</html>