<html>

<head>
  <title>For Sale</title>
  <link rel="stylesheet" rel="stylesheet" type="text/css" href="../../../static/css/style.css">
</head>


<body>

  <div class="title">Listings for {{title}}</div>
  {% if loggedIn == '1' %}
  <div class="addItem"><a href={{ url }}>Click Here to add Item </a></div>
  {% else %}
  <div class="addItem"><a href="/">Log in on the main page to post :)</a></div>
  {% endif %}
  <div class="list">
    {% for item in contents %}
    <div class="item">
      <div class="brief">

        {% if item.Manufacturer != null %}
        <div class="attribute">
          <label> Manufacturer :</label>
          {{ item.Manufacturer }}
        </div>
        {% endif %}
        {% if item.manufacturer != null %}
        <div class="attribute">
          <label> Manufacturer :</label>
          {{ item.manufacturer }}
        </div>
        {% endif %}
        
        {% if item.make != null %}
        <div class="attribute">
          <label> Make :</label>
          {{ item.make }}
        </div>
        {% endif %}

                
        {% if item.artist != null %}
        <div class="attribute">
          <label> Artist :</label>
          {{ item.artist }}
        </div>
        {% endif %}

        {% if item.type != null %}
        <div class="attribute">
          <label> Type :</label>
          {{ item.type }}
        </div>
        {% endif %}
        {% if item.pickupDropoff != null %}
        <div class="attribute">
          <label> Pickup or Dropoff :</label>
          {{ item.pickupDropoff }}
        </div>
        {% endif %}
        
        {% if item.year != null %}
        <div class="attribute">
          <label> Year :</label>
          {{ item.year }}
        </div>
        {% endif %}
        {% if item.miles != null %}
        <div class="attribute">
          <label> Miles :</label>
          {{ item.miles }}
        </div>
        {% endif %}

        {% if item.color != null %}
        <div class="attribute">
          <label> Color :</label>
          {{ item.color }}
        </div>
        {% endif %}
        {% if item.size != null %}
        <div class="attribute">
          <label> Size :</label>
          {{ item.size }}
        </div>
        {% endif %}
        {% if item.description != null %}
        <div class="attribute">
          <label> Description :</label>
          {{ item.description }}
        </div>
        {% endif %}

        {% if item.price != null %}
        <div class="attribute">
          <label> Price :</label>
          {{ item.price }}
        </div>
        {% endif %}

        {% if item.city != null %}
        <div class="attribute">
          <label> City :</label>
          {{ item.city }}
        </div>
        {% endif %}

        {% if item.condition != null %}
        <div class="attribute">
          <label> Condition :</label>
          {{ item.condition }}
        </div>
        {% endif %}
        {% if item.phoneNumber != null %}
        <div class="attribute">
          <label> Phone Number :</label>
          {{ item.phoneNumber }}
        </div>
        {% endif %}

        {% if item.email != null %}
        <div class="attribute">
          <label> Email :</label>
          {{ item.email }}
        </div>
        {% endif %}
      </div>
    </div>
{% endfor %}
</div>

</body>

</html>